- poner_title("Nosotros")
.row-fluid
  .span8
    .well.align-justify
      %h1=@h1
      .dashed
      %p
        La Agencia de Desarrollo de Sitios Web JSNetSolution cuenta  con el apoyo de integrantes de diferentes comunidades informáticas, desarrolladores nacionales e internacionales especializados en diferentes lenguajes, frameworks y CMS (PHP, Ruby, Python, Rails, WordPress, etc.) a utilizar en un Proyecto...
      %p
        Como Plus, contamos también con apoyo diseñadores especializados en el tipo que se requiera, diseño gráfico o web, además tenemos personal dedicado a lo concerniente a hardware (personal residente en Lima, Perú).
      %p.align-center.back-white
        = image_tag "equipo-de-trabajo.jpg"
  .span4
    = render partial: "layouts/publi2"
    .well.align-justify
      %h2 Misión
      .dashed
      %p
        Desarrollaremos los Proyectos utilizando el entorno mas adecuado con las mas modernas herramientas, de forma que la producción, usabilidad y funcionalidad del sitio sea la mejor, brindando así una rápida indexación, una cómoda interacción con el usuario y permitiendo al dueño del proyecto ser el propio Administrador.
      %p
        " El trabajo de un desarrollador es facilitar las cosas a los usuarios, los usuarios no deberían tener problema en navegar o administrar un sitio si este está bien elaborado " .
      %p.align-right
        Equipo de JSNet Solution

.row-fluid


