- poner_title("Nuestros Servicios")
%h1=@h1
%p Servicios
.row-fluid
  .span8
    .well
      / Revisar por que no funca el Accordion con el collapse - Usamos Tabs
      / Revisar tabbable tabs-left - Componentes
      %ul.nav.nav-tabs#myTab
        %li.active
          = link_to "#1", "data-toggle"=>"tab" do
            %h2 Desarrollo
        %li
          = link_to "#2", "data-toggle"=>"tab" do
            %h2 Diseño
        %li
          = link_to "#3", "data-toggle"=>"tab" do
            %h2 Mantenimiento

      .tab-content
        .tab-pane.active#1
          %p.align-justify
            JSNet Solution cuenta con un equipo de programadores de primer nivel, los cuales están en continua actualización, de estos desarrolladores sólo un 50% son trabajadores exclusivos de la Agencia, el otro 50% es libre, sí, trabajan freelance, y son al igual que los miembros fijos de JSNet Solution, miembros activos en las diversas comunidades de desarrolladores nacionales e internacionales, pudiendo mencionar:
          %ul
            %li 
              =link_to "Comunidad de Drupal en Perú", "link-a-drupal.org/peru", :rel=>""
            %li
              =link_to "Comunidad de Drupal en el mundo", "link-a-drupal.org"
            %li
              =link_to "Comunidad de Ruby en Perú", "ruby-peru.com"
            %li
              =link_to "Comunidad de Python en ...", "link-comunidad-python"
            %li
              entre muchas otras (Sin quitarles mérito)...
          %p.align-justify
            Este equipo de trabajo, es sin duda una excelente alternativa de solución a los problemas que puede presentar el tener un nuevo proyecto web en mente. Al contar con desarrolladores especializados en diferentes lenguajes/herramientas tecnológicas, tus opciones son aún mayores, recibe las propuestas y elige!. 
          %ul
            %li
              %h3 ¿Es un proyecto sólo informativo? 
            %p
              HTML bien elaborado puede ser suficiente. Con un buen desarrollo, HTML es muchas veces la mejor opción para posicionarse.
            %li
              %h3 ¿Es un proyecto pequeño/mediano/grande con almacenamiento de información? 
            %p
              PHP es una buena alternativa. El uso de PHP no ha hecho otra cosa mas que crecer con el tiempo, te suena Facebook? =). Pero si lo que deseas es estar a la vanguardia del desarrollo, Ruby o Python caen de perlas. Estos lenguajes son una excelente muestra de lo bueno y poderoso que puede ser el software libre. Te suena Google? Twitter? son una muestra de lo poderosos que son estos lenguajes.
              Un buen lenguaje con una adecuada Base de Datos Mysql/sqlite/PostGreSQL  harán de tu sitio algo para presumir.
            
        .tab-pane#2
          bla2 bla2 bla2
        .tab-pane#3
          bla3 bla3 bla3
    .well
      No aceptes una "super" propuesta de desarrollo para algo simple, ni algo simple para un proyecto en crecimiento.
  .span4
    .well
      = render partial: "layouts/publi2"
    .well
      %li
        %h3 ¿Quieres un desarrollo rápido?
      %p
        No hay de que preocuparse, lenguajes poderosos tienen herramientas y frameworks igual de buenos. Por poner un ejemplo, Rails es una excelente alternativa para un desarrollo veloz con Ruby.
      %li
        %h3 Pero... Además Quieres ingresar contenido continuamente?
      %p
        No hay problema. Un gestor de contenidos es lo que necesitas, y uno que es excelente es Drupal.
      %p
        Como puedes ver, hay una amplia lista de posibilidades para escoger, y nosotros elegiremos el que mejor se adapte al objetivo de tu sitio.
