<h1>Nuestros Servicios</h1>
<p>Servicios</p>
<div class="row-fluid">
  <div style="width:1000px;">
    <div>
    <div class="span12 well cel"> 12 = 100% </div>
    </div>
    <div>
    <div class="span11 well cel"> 11 = 91.6% </div>
    <div class="span1 well cel"> 1 = 8.3% </div>  
    </div>
    <div>
    <div class="span10 well cel"> 10 = 83.3% </div>
    <div class="span2 well cel"> 2 = 16.6% </div>
    </div>
    <div>
    <div class="span9 well cel"> 9 = 75% </div>
    <div class="span3 well cel"> 3 = 25% </div>
    </div>
    <div>
    <div class="span8 well cel"> 8 = 66.6% </div>
    <div class="span4 well cel"> 4 = 33.3% </div>
    </div>
    <div>
    <div class="span7 well cel"> 7 = 58.3% </div>
    <div class="span5 well cel"> 5 = 41.6% </div>
    </div>
    <div>
    <div class="span6 well cel"> 50% = 6 </div>
    <div class="span6 well cel"> 50% = 6 </div>
    </div>
  </div>
</div>
