<div class="row-fluid">
  <div class="span4"></div>
  <div class="form-contact span4 well">
    <div id="form-contact-title" class="center well">
      <h1>Contacto</h1>
    </div>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
  <div class="span4"></div>
</div>

<div class="row-fluid">
  <%= link_to 'Back', contacts_path %>
</div>
