<div class="row-fluid">
  <div class="form-contact span7 well">
    <div id="form-contact-title" class="align-center well">
      <h1>Contacto</h1>
    </div>
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
  <div class="span5 well">
  
  </div>
</div>

<div class="row-fluid">
  <%= link_to 'Back', home_path %>
</div>
