// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding: 40px 0 0 ;
}

// Modificando el bootstrap

.nav-header li a{
  font-size:15px;
}
.navbar_footer{
  margin-top:20px;
}
.navbar .nav > li > .txt_middle {
  float: left;
  padding: 9px 0 5px;
  line-height: 19px;
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > .txt_center > a {
  color: #999999;
}
.navbar .nav > li > .btn_social {
  padding: 4px;
}
#logo{
  height: 120px;
  background-color: #777;
}
#title-publi1{
  height: 30px;
  background-color: #999;
}
#body-publi1{
  height: 90px;
  background-color: #888;
}
