%p.align-justify
  JSNet Solution cuenta con un equipo de programadores de primer nivel, los cuales están en continua actualización, de estos desarrolladores sólo un 50% son trabajadores exclusivos de la Agencia, el otro 50% es libre, sí, trabajan freelance, y son al igual que los miembros fijos de JSNet Solution, miembros activos en las diversas comunidades de desarrolladores nacionales e internacionales, pudiendo mencionar:
%ul
  %li
    =link_to "Comunidad de Drupal en Perú", "http://groups.drupal.org/peru", :rel=>""
  %li
    =link_to "Comunidad de Drupal en el mundo", "http://drupal.org"
  %li
    =link_to "Comunidad de Ruby en Perú", "https://groups.google.com/forum/?fromgroups#!forum/rubyperu"
  %li
    =link_to "Comunidad de Ruby en América del Sur", "https://groups.google.com/forum/?fromgroups#!forum/rubysur"
  %li
    =link_to "Comunidad de Python en Perú", "https://groups.google.com/forum/?fromgroups#!forum/python-peru"
  %li
    =link_to "Comunidad de Javascript en Perú", "https://groups.google.com/forum/?fromgroups#!forum/jsperu"
  %li
    entre muchas otras (Sin quitarles mérito)...
%p.align-justify
  Este equipo de trabajo, es sin duda una excelente alternativa de solución a los problemas que puede presentar el tener un nuevo proyecto web en mente. Al contar con desarrolladores especializados en diferentes lenguajes/herramientas tecnológicas, tus opciones son aún mayores, recibe las propuestas y elige!.
%ul
  %li
    %h3 ¿Es un proyecto sólo informativo?
  %p
    HTML bien elaborado puede ser suficiente. Con un buen desarrollo, HTML es muchas veces la mejor opción para posicionarse.
  %li
    %h3 ¿Es un proyecto pequeño/mediano/grande con almacenamiento de información?
  %p
    PHP es una buena alternativa. El uso de PHP no ha hecho otra cosa mas que crecer con el tiempo, te suena Facebook? =). Pero si lo que deseas es estar a la vanguardia del desarrollo, Ruby o Python caen de perlas. Estos lenguajes son una excelente muestra de lo bueno y poderoso que puede ser el software libre. Te suena Google? Twitter? son una muestra de lo poderosos que son estos lenguajes.
    Un buen lenguaje con una adecuada Base de Datos Mysql/sqlite/PostGreSQL  harán de tu sitio algo para presumir.

