%div.row-fluid
  %div.navbar.navbar_footer
    %div.navbar-inner
      %ul.nav
        %li
          %span.txt_center ©2012
        %li
          = link_to("JSNet Solution", home_path)
        %li
          %span.txt_center All Rights Reserved.
      %div.pull-right
        %ul.nav
          %li= link_to "Contacto", new_contact_path
