<div class="row-fluid">
  <div class="navbar navbar_footer">
    <div class="navbar-inner">
      <ul class="nav">
        <li> <span class="txt_center"><%= raw("©2012 " + link_to("JSNet Solution", home_path) + ", All Rights Reserved. " )%> </li>
        <li> <%= link_to "Contacto", new_contact_path %> </li>
      </ul>
    </div>
  </div>
</div>
